
body {
    font-family: helvetica,arial;
    margin: 0 auto;
    max-width: 800px;
}

/* Action links */

.def-actionlinks {
    text-align: center;
}

.def-actionlink  {
    margin-left: 4px;
}


/* Button */

.def-button {
    margin-left: 4px;
    margin-bottom: 8px;
    min-width: 6em;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border:0 none;
    border-radius: 4px;
    font-family: Arial;
    color: #ffffff;
    padding: 2px 10px 2px 10px;
    text-decoration: none;
}

.def-button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.def-button:disabled {
    background: #A6A6A6;
    text-decoration: none;
}

/* Checkbox */

.def-checkbox {
    border: 1px solid #a0a0a0;
    margin-left: 4px;
    margin-bottom: 0.7em;
    border-radius: 4px;
}

/* Table related */

.selected {
    background-color: #C2E0F4;
}

th, td {
    text-align: left;
    border: solid #777777;
    border-top: 1px;
    border-bottom: 1px;
    border-right: 0px;
    border-left: 0px;
    padding: 4px;
} 

th {
    background: #f0f0f0;
}

td {
    cursor: pointer;
}

.def-table {
    border-collapse: collapse;
    background: #ffffff;
    margin-left: 0px;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: 4px 4px 5px #888888;
}

/* Panel */


.def-panel {
    background: #fff;
    margin-bottom: 16px;
}

.two-column-panel {
    background: #fff;
    margin-bottom: 16px;
    column-count: 2;
    -webkit-column-count: 2; 
    -moz-column-count: 2;
    column-width: 22em;
    -webkit-column-width: 22em;
    -moz-column-width: 22em;
}


/* Fields general */

.def-field:focus {
    border: 2px solid #ff8080;
    border-radius: 4px;
}


.def-field {
    width: 16em;
    margin-left: 4px;
    margin-bottom: 4px;
    background: #ffffff;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    height: 1.8em;
}

label {
    display: inline-block;
    margin-left: 4px;
}

.def-labeledwidget {
    margin-bottom: 4px;
}

.def-label {
    width: 6em;
    top: 0.2em;
    position: relative;
    float: left;
}

/* Error */

.error-message-beneath {
    color: #f00000;
    font-size: small;
    top: 0.2em;
    margin-left: 10px;
}

.error-message-below {
    color: #f00000;
    font-size: small;
    display: block;
    text-indent: 7.5em;
}


/* Header */

.def-header {
    font-size: 1em;
    height: 30px;
    background-color: #f0f0f0;
}


/* Toggle link */


.def-togglelink-span {
    float: left;
    width: 8em;
    height: 30px;
    border-left: 1px solid #aaa;
    text-align: center;
}

.def-togglelink-span-disabled {
    color: #A6A6A6;    
}

.def-togglelink-span-active {
    background-color: #C2E0F4;
}


a.def-togglelink {
    outline: 0;
    color: #000000;
    text-decoration: none;
}

a.def-togglelink:hover {
    color: #ff7070;
}


/* Separator */

.def-separator {
    border-bottom: 1px solid #777;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 4px;
    width: 50%;
}

/* Title */

.def-title {
    font-size: 1em;
    font-weight: bold;
    color: #777;
    text-align: left;
    margin-left: 4px;
}


/* Popup Menu */

	/* <div style="position:fixed;top:100;left:100;" class="popup-menu"> */
	/*     <ul> */
	/* 	<li><a href="#"><img src="images/pencil.png"/>Edit</a></li> */
	/* 	<li><a href="#"><img src="images/cross.png"/>Delete</a></li> */
	/*     </ul> */
	/* </div> */


/* .popup-menu { */
/*     font-size: 0.5em; */
/*     border: 1px solid grey; */
/*     background-color: #f0f0f0; */
/*     padding: 0px; */
/*     border-radius: 4px; */
/*     box-shadow: 4px 4px 5px #888888; */
/* } */

/* .popup-menu ul { */
/*     min-width: 5em; */
/*     margin: 0px; */
/*     padding: 0px; */
/*     list-style-type: none; */
/* } */

/* .popup-menu li { */
/*     padding-top: 4px; */
/*     padding-bottom: 4px; */
/*     padding-left: 1em; */
/*     padding-right: 1em; */
/*     list-style-type: none; */
/* } */

/* .popup-menu a { */
/*     color: #404040; */
/*     text-decoration: none; */
/* } */

/* .popup-menu li:hover { */
/*     display: block; */
/*     background-color: #b0b0b0; */
/* } */

/* .popup-menu img { */
/*     position: relative; */
/*     top: 4px; */
/*     margin-right: 8px; */
/* } */